.Footer_G {
    width: 100%;
    height: 100%;
    background-color: #353535;
    padding: 25px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;

    .Footer-1 {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
        margin-bottom: 25px;

        .footer_C {

            h3 {
                color: rgba(255, 255, 255, 0.8);
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 15px;
            }

            p {
                color: rgba(255, 255, 255, 0.8);
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 30px;
            }
        }
    }

    .HR_1 {
        position: absolute;
        border: 0.5px solid rgba(235, 235, 235, 0.13);
        ;
        margin-left: -25px;
        width: 100%;
    }

    .Footer_2 {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-right: 100px;

        .footer_C {

            h3 {
                color: rgba(255, 255, 255, 0.8);
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 15px;
            }

            p {
                color: rgba(255, 255, 255, 0.8);
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 30px;
            }
        }

        .footer_CE {
            display: flex;
            flex-direction: column;

            h3 {
                color: rgba(255, 255, 255, 0.8);
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
            }
        }

        .footer_CEN {
            display: flex;
            padding: 7px;
            gap: 10px;

            div {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.8);

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .Footer-3 {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
        margin-bottom: 50px;

        .footer_C {
            display: flex;
            align-items: center;
            position: relative;

            h4 {
                color: rgba(255, 255, 255, 0.8);
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 30px;
                color: rgba(235, 235, 235, 0.4);
                position: absolute;
                margin-top: -20px;
            }
        }
    }

    .Footer-4 {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;

        .footer_C {
            display: flex;
            align-items: center;
            position: relative;

            p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 30px;
                color: rgba(235, 235, 235, 0.4);
            }
        }
    }

    .F_11 {
        width: 160px;
    }

    .F_22 {
        width: 240px;
    }

    .F_33 {
        width: 140px;
    }

    .F_44 {
        width: 140px;
    }
}